# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Entornos virtuales
venv/
env/
.env
.venv

# Streamlit cache
.streamlit/cache/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
